*{
	margin: 0;
	padding: 0;
}
body{
	background: radial-gradient(#373737, #202020);
}
.center-main-block{
	max-width: 1200px;
	margin: 0 auto;
}
.demo{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0 40px;
}
.demo div{
	position: relative;
	margin-top: 40px;
	width: 300px;
	max-width: 100%;
	height: 300px;
	max-height: 100%;
	overflow: hidden;
	border-radius: 6px;
	border: 3px solid #ffe829;
}
.demo a img{
	width: 100%;
	height: auto;
}
.demo a img:nth-of-type(2){
	position: absolute;
	z-index: 8;
	max-width: 40px;
	left: calc(50% - 20px);
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: all 0.4s linear;
}
.demo a p{
	opacity: 0;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background: #ffe829;
	width: 100%;
	height: 100%;
	transition: all 0.4s linear;
}
.demo a:hover p{
	opacity: 0.7;
	transition: all 0.4s linear;
}
.demo a:hover img:nth-of-type(2){	
	opacity: 1;
	transition: all 0.4s linear;
}
@media screen and (max-width: 1200px){
	.center-main-block{
		padding-left: 3%;
		padding-right: 3%;
	}
	.demo{
		justify-content: space-around;
	}
}
