@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	border: none;
	outline: none;
}
html{}
body{
	color: #444444;
	font-family: 'Roboto', sans-serif;
  	font-size: 15px;
  	font-weight: 300;
  	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
  	margin-top: 0;
  	margin-bottom: 1rem;
	font-family: Roboto, sans-serif;
  	font-weight: 300;
	line-height: 1.7;
}
h2{	
	font-size: 35px;
}
img{
	max-width: 100%;
	border-style: none;
}
p{
	margin-bottom: 20px;
}
p:last-of-type{
	margin-bottom: 0;
}
a{
	color: #27ae60;
	text-decoration: none;
  	transition: all 0.2s ease-in-out;
}
a:focus,
a:visited{
	color: #27ae60;
	text-decoration: none;
}
a:hover{
	color: #27ae60;
	text-decoration: none;
}


.block-main{}
.center-main-block{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.flex-block{
	display: flex;
	justify-content: space-between;
}



.header-main{
	background-color: #2c3e50;
	color: #ffffff;
}
.header-main .center-main-block{
	align-items: center;
}

.logotype{
	display: inline-block;
	padding: 10px 24px;
	background-color: #ffffff;
	color: #27ae60;
	font-size: 24px;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
}
.logotype_text{}

.header-main_menu{}
.header-main_menu a{
	margin-right: 40px;
	color: #ffffff;
	font-weight: 400;
	line-height: 1;
	cursor: pointer;
}
.header-main_menu a:last-of-type{
	margin-right: 0;
}
.header-main_menu a:hover{
	text-decoration: underline;
}

.header-main_butt,
.header-main_butt:visited{
	display: inline-block;
	min-width: 90px;
	padding: 9px 4px;
	background-color: #36c773;
	background-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.header-main_butt:hover,
.header-main_butt:focus{
	background-color: #27ae60;
	color: #ffffff;
}



.block-slider{
	background-color: #eeeeee;
	background-image: url(../img/slide-1.jpg);
	background-size: cover;
	background-position: top center;
	color: #555555;
	text-align: center;
}
.block-slider .center-main-block{
	position: relative;
}

.slider-container{
	padding-bottom: 20px;
}
.slick-arrow{
	display: none!important;
}
.slider-arrow{
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 400;
	display: inline-block;
	width: 16px;
	height: 30px;
	cursor: pointer;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.slider-arrow:before,
.slider-arrow:after{
	content: "";
	position: absolute;
	top: 0;
	left: 36%;
	background-color: #2c3e50;
	width: 4px;
	height: 19px;
	transform: rotate(45deg);
}
.slider-arrow:after{
	top: auto;
	bottom: 0;
	transform: rotate(-45deg);
}
.slider-arrow:hover{
	transform: translateY(-50%) scale(1.2);
}
.slider-arrow_right{
	left: auto;
	right: 20px;
	transform: translateY(-50%) scale(-1,1);
}
.slider-arrow_right:hover{
	transform: translateY(-50%) scale(-1.2,1.2);
}
.slick-dots{
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 20px;
	z-index: 200;
	transform: translateX(-50%);
}
.slick-dots li{
	list-style: none;
}
.slick-dots li button{
	width: 16px;
	height: 16px;
	margin: 0 4px;
	background-color: rgba(44,62,80,0.5);
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.slick-dots li.slick-active button{
	background-color: rgba(44,62,80,1);
}

.slide{
	padding: 100px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.slide.slick-active{
	opacity: 1;
}
.slide-content{
	width: 50%;
	margin-left: auto;
}
.slide h1{
	font-size: 55px;
	font-weight: 100;
	line-height: 1.18;
}
.slide_butt,
.slide_butt:visited{
	display: inline-block;
	min-width: 80px;
	padding: 9px 4px;
	background-color: #36c773;
	background-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.slide_butt:hover,
.slide_butt:focus{
	background-color: #27ae60;
	color: #ffffff;
}



.block-content{
	padding: 40px 0 60px;
	color: #444444;
	line-height: 1.66;
}
.block-content .center-main-block{}
.block-content h2{
	margin: 10px 0 22px;
	color: #2c3e50;
}

.content-left{
	width: 100%;
	padding-right: 90px;
}
.content-right{
	min-width: 380px;
}

.user-photo{}
.user-photo figcaption{
	font-size: 11px;
	line-height: 30px;
}
.user-photo img{
	width: 100%;
	max-height: 480px;
    object-fit: cover;
}



.block-form{
	padding: 80px 0;
	background-image: url(../img/background-form.jpg);
	background-size: cover;
	background-position: top center;
	color: #555555;
}
.form-reg{
	max-width: 560px;
	margin: 0 auto;
	padding: 25px 80px;
	background-color: #ffffff;
	border-radius: 4px;
	text-align: center;
}
.form-reg h2{
	margin-bottom: 20px;
	font-weight: 100;
	line-height: 1;
}
.form-reg_box{
	position: relative;
	margin-top: 10px;
}
.form-reg_box input[type=text],
.form-reg_box input[type=email],
.form-reg_box input[type=password]{
	width: 100%;
	padding: 10px 20px;
	background-color: #f5f5f5;
	color: #555555;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 30px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}
.form-reg_box input[type=text]::placeholder,
.form-reg_box input[type=email]::placeholder,
.form-reg_box input[type=password]::placeholder{
	color: #555555;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.form-reg_box select{
	width: 100%;
	padding: 10px 20px;
	background-color: #f5f5f5;
	color: #555555;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 30px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}
.form-reg_box select option{}
.form-reg_box input[type=submit]{
	display: inline-block;
	min-width: 120px;
	margin-top: 8px;
	padding: 15px 4px;
	background-color: #36c773;
	background-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.form-reg_box input[type=submit]:hover{
	background-color: #27ae60;
	color: #ffffff;
}

.select_imitator{
	width: 100%;
	height: 50px;
	padding: 10px 20px;
	background-color: #f5f5f5;
	color: #555555;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 30px;
	text-align: left;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}
.select_imitator:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 16px;
	z-index: 20;
	border-top: 6px solid #555555;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	transform: translateY(-50%);
}
.select_imitator~select{
	display: none;
}
.option_imitator-container{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 200;
	width: 100%;
	height: 0;
	background-color: #ffffff;
	opacity: 0;
	text-align: left;
	border-radius: 2px;
	border: 1px solid #c4c4c4;
	overflow-y: scroll;
	transition: height 0.2s linear, opacity 0.6s ease-in-out;
}
.option_imitator-container::-webkit-scrollbar { 
	display: none;
}
.option_imitator-container.active{
	opacity: 1;
	height: 150px;
}
.option_imitator-box{}
.option_imitator{
	padding: 10px 20px;
	color: #555555;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 30px;
	border-bottom: 1px solid #c4c4c4;
}
.option_imitator:last-of-type{
	border-bottom: none;
}
.option_imitator:hover{}

.scroll-imitate_box{
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scroll-imitate_box::-webkit-scrollbar { 
    display: none;
}
.scroll-line{
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 200;
	width: 3px;
	height: calc(100% - 6px);
	background-color: rgba(85,85,85,0.2);
	border-radius: 8px;
	overflow: hidden;
}
.scroll-item{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 400;
	width: 100%;
	height: 30px;
	background-color: #555555;
	border-radius: 8px;
}



.main-footer{
	padding: 10px;
	background-color: #2c3e50;
	color: #ffffff;
	text-align: center;
}
.main-footer .center-main-block{}
.footer-text{}



.popup-container{
	position: fixed;
	top: -200%;
	left: 0;
	z-index: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
	background-color: rgba(0,0,0,0.7);
	opacity: 0;
}
.popup-container.active{
	top: 0;
	opacity: 1;
	transition: opacity 1s ease-in-out, top 0.4s linear;
}
.popup{
	position: relative;
	width: 100%;
	max-width: 360px;
	padding: 30px 20px;
	background-color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #27ae60;
}
.popup-close{
	position: absolute;
	top: 2px;
	right: 6px;
	z-index: 20;
	color: #27ae60;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.popup-close:hover{
	transform: scale(1.2);
}



@media screen and (max-width: 980px){
	.slide-content{
		width: 100%;
	}
	.slide{
		padding: 100px 0;
	}
	.block-content .center-main-block{
		flex-wrap: wrap;
	}
	.content-left{
		width: 100%;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.content-right{
		min-width: 0;
	}
}
@media screen and (max-width: 600px){
	.header-main{
		padding-top: 30px;
	}
	.header-main .center-main-block{
		padding: 0;
	}
	.logotype,
	.header-main_butt{
		display: none;
	}
	.header-main_menu{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 300;
		width: 100%;
		max-height: 30px;
		display: flex;
		flex-direction: column;
		background-color: #2c3e50;
		text-align: center;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
		overflow: hidden;
		cursor: pointer;
		transition: all 0.2s linear;
	}
	.header-main_menu.active{
		max-height: 1000px;
	}
	.header-main_menu:before{
		content: "\f0c9";
		height: 30px;
		font-family: "FontAwesome";
		font-size: 24px;
		line-height: 30px;
	}
	.header-main_menu a{
		width: 100%;
		background-color: #2c3e50;
		padding: 10px 4px;
		font-size: 17px;
		opacity: 0;
		border-top: 1px solid #ffffff;
	}
	.header-main_menu.active a{
		opacity: 1;
	}
	.slider-arrow{
		left: 10px;
	}
	.slider-arrow_right{
		left: auto;
		right: 10px;
	}
	.form-reg{
		padding: 25px;
	}
}