@charset "UTF-8";html, body, div, span, applet, object, iframe,
p, pre,
a, address, big, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, tt, var,
ul, li, form, label{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;}
body{#background:url(../images/bg.jpg) repeat 50% 0 fixed;color:#000;}
ol, ul{list-style:none;}
table{}
caption, th, td{}
*{}
fieldset{border:1px solid #e9e8e3;background:none;padding:10px;}
select{border:1px solid #e9e8e3;}
input.inputbox{border:1px solid #e9e8e3;}
.centerr p{margin:5px 0;}
.center ol{list-style:decimal outside;margin:1.12em 0;padding-left:40px;}
.center ul{list-style:disc outside;margin:1.12em 0;padding-left:40px;}
sup, sub{font-size:70%;text-decoration:underline;}
.clear{clear:both;}
.pagination{}
.pagination ul{margin:0 !important;padding:0;list-style:none;text-align:center;}
.pagination li{position:relative;display:inline;padding:10px 3px;}
.pagination li a, .pagination li span{text-decoration:underline;color:#a7a7a7;font-size:21px;}
.pagination li span{text-decoration:none;}
.pagination li a:hover{text-decoration:none;color:#ff6001;}
ul.actions{clear:both;float:right;margin:0;}
ul.actions li{list-style-type:none;float:right;margin-left:10px;}
#article-index ul{list-style:none;overflow:hidden;padding:0;}
#article-index ul li{position:relative;float:left;padding:0 10px;}
.img-fulltext-left{float:left;margin-right:20px;margin-bottom:20px;}
.img-intro-left{float:left;margin-right:20px;margin-bottom:10px;}
.img-intro-left img{width:150px;border:1px solid #C0C0C0;padding:3px;}
.img-fulltext-right{float:right;margin-left:20px;margin-bottom:20px;}
.img-intro-right{float:right;margin-left:20px;margin-bottom:20px;}
.blog h2{margin:0;}
.blog .items-row, .blog .items-leading{overflow:hidden;}
.blog .items-row.cols-1 .item{width:100%;}
.blog .items-row.cols-2 .item{width:48%;float:left;padding:0.5%;}
.blog .items-row.cols-3 .item{width:31%;float:left;padding:1%;}
.blog .items-row h2, .blog .items-row h2 a{text-align:left;display:block;font:bold 14px/35px Verdana, Arial,sans-serif;text-decoration:none;margin:0;}
.article-info-term{display:none;}
.article-info{margin:3px 0;color:#0986e1;font-size:11px;}
.article-info dd{margin:0;}
p.readmore{text-indent:0;font-size:.9em;}
.gallery .pagination li{padding:5px!important;}
.jshop_menu_level_0{float:left;background:url(../images/li_left.png) no-repeat scroll 0 0 transparent;margin:0 0 0 -25px;padding:0 0 0 25px;position:relative;}
.jshop_menu_level_0 a{font:17px/28px Calibri, Arial;text-decoration:none;color:#646464;display:block;background:url(../images/li_right.png) no-repeat scroll 100% 0 transparent;padding:0 30px 0 5px;text-decoration:none;}
.jshop_menu_level_1 a{font:20px/37px 'Comic Sans MS', arial, geneva, sans-serif;display:block;padding:0 0 0 10px;color:#921100;text-decoration:none;}
.jshop_menu_level_2 a{font:12px/12px 'Conv_Gothic', arial, geneva, sans-serif;text-decoration:none;color:#000;display:block;background:url(../images/to4ka.png) no-repeat 7px 50%;padding:1px 0 1px 14px;margin:0 0 4px 0;}
.jshop_menu_level_0 a:hover, .jshop_menu_level_1 a:hover, .jshop_menu_level_2 a:hover{color:#202020;text-decoration:none;}
.jshop_menu_level_0.activ{background:url(../images/li_left_h.png) no-repeat scroll 0 0 transparent;z-index:100;}
.jshop_menu_level_0.activ a, .jshop_menu_level_1.activ a, .jshop_menu_level_2.activ a{color:#202020;text-decoration:none;background:url(../images/li_right_h.png) no-repeat scroll 100% 0 transparent;}
#left .manufactuter_list .jshop_menu_level_0 a{text-align:center;opacity:0.6;}
#left .manufactuter_list .jshop_menu_level_0 a:hover,#left .manufactuter_list .jshop_menu_level_0.activ a{opacity:1;}
tbody tr:nth-child(2n) td, tbody tr.even td{}
tbody tr:nth-child(2n+1) td, tbody tr.odd td{}
.contact-image{float:right;}
#mxcpr, #mxcpr a{font-size:0!important;padding:0!important;}
#jquery-overlay{min-height:100%!important;}
#a[href='https://www.faboba.com']{font-size:0!important;display:none!important;}