@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,700&display=swap&subset=cyrillic');

:root{
	--color1: #de2bba;
	--font1: "Open Sans", sans-serif;
	--font2: "Poppins", "Open Sans", sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	border: none;
	outline: none;
}
html{}
body{
	color: #212121;
	font-family: var(--font1);
  	font-size: 16px;
  	font-weight: normal;
  	line-height: 1.375;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
  	margin-top: 0;
  	margin-bottom: 20px;
	font-family: var(--font1);
  	font-weight: 600;
	line-height: 1.15;
}
h1{
	font-size: 40px;
}
h2{	
	margin-bottom: 14px;
	font-size: 30px;
}
img{
	max-width: 100%;
	border-style: none;
}
p{
	margin-bottom: 15px;
}
p:last-of-type{
	margin-bottom: 0;
}
a{
	color: var(--color1);
	text-decoration: none;
	cursor: pointer;
  	transition: all 0.2s ease-in-out;
}
a:hover{
	color: var(--color1);
	text-decoration: none;
}
a:focus,
a:visited{
	color: var(--color1);
	text-decoration: none;
}
input{
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	transition: all 0.2s ease-in-out;
}
input:focus{
	outline: none;
}


.hooded{
	opacity: 0!important;
	width: 0!important;
	height: 0!important;
	transition: all 0.2s ease-in-out;
}
.hidden{
	display: none!important;
}


body{
	position: relative;
}
body:after{
	/*content: "";*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: block;
	width: 100%;
	height: 1625px;
	background-image: url(../stuff/1920.jpg);
	background-size: 1920px;
	background-position: top center;
	opacity: 0.6;
}
@media screen and (max-width: 1366px){
	body:after{
		height: 1469px;
		background-image: url(../stuff/1366.jpg);
		background-size: 100vw;
	}
}
@media screen and (max-width: 768px){
	body:after{
		height: 1619px;
		background-image: url(../stuff/768.jpg);
	}
}
@media screen and (max-width: 375px){
	body:after{
		height: 1271px;
		background-image: url(../stuff/375.jpg);
	}
}
.main{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-color: #000000;
	color: #ffffff;
	overflow: hidden;
}
.main-grid{
	display: grid;
	grid-template-columns: 650px 1fr;
	position: relative;
	z-index: 10;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	padding-top: 72px;
	padding-bottom: 44px;
	margin: auto;
}
.main-block{}
.center-main-block{
	width: 100%;
	max-width: 504px;
	padding-left: 30px;
	padding-right: 30px;
	margin: auto;
}


.main-block-1{
	grid-column: 1/3;
	grid-row: 1/2;
	margin-bottom: 60px;
}
.main-block-1 .center-main-block{}


.head-block{
	grid-column: 1/3;
	grid-row: 2/3;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	z-index: 600;
	padding-top: 40px;
}
.logotype{
	margin-left: 150px;
	font-family: var(--font2);
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1.4px;
	text-transform: uppercase;
}

.menu-block{
	position: relative;
}
.menu-button_open{
	width: 32px;
	margin-right: 150px;
	position: relative;
	top: -4px;
	z-index: 80;
	cursor: pointer;
}
.menu-button_open .menu-button_line{
	display: block;
	width: 100%;
	height: 1px;
	margin-bottom: 8px;
	background-color: #ffffff;
	transition: all 0.2s ease-in-out;
}
.menu-button_open .menu-button_line:last-of-type{
	margin-bottom: 0;
}
.menu-button_open:hover .menu-button_line{
	background-color: var(--color1);
}
.menu-box{
	position: absolute;
	top: -40px;
	right: 2px;
	z-index: 60;
	width: 332px;
	max-height: 0px;
	padding: 250px 10px 356px 17px;
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.25;
	text-align: center;
	overflow: hidden;
	opacity: 0;
}
.menu-box.active{
	z-index: 100;
	max-height: 10000px;
	opacity: 1;
	transition: max-height 0.2s linear, opacity 0.6s ease-in-out;
}
.menu-button_close{
	position: absolute;
	top: 31px;
	left: 50%;
	display: inline-block;
	width: 38px;
	height: 38px;
	transform: translateX(-50%) rotate(45deg);
	cursor: pointer;
}
.menu-button_close .menu-button_line{
	position: absolute;
	top: 50%;
	left: 0;
	display: inline-block;
	height: 2px;
	width: 100%;
	background-color: #000000;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.menu-button_close .menu-button_line:nth-of-type(2){
	top: 0;
	left: 50%;
	height: 100%;
	width: 2px;
	transform: translateX(-50%);
}
.menu-button_close:hover .menu-button_line{
	background-color: var(--color1);
}
.menu-list{
	margin-bottom: 102px;
	list-style: none;
}
.menu-list li{
	margin-bottom: 40px;
}
.menu-list_link{
	color: inherit;
}
.order-container{
	margin: 20px auto;
	text-align: center;
}
.order{
	display: inline-block;
	min-width: 156px;
	padding: 17px 10px;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.order:hover{
	background-color: var(--color1);
	color: #000000;
}


.wheel-block{
	position: relative;
}
.wheel-block:before,
.wheel-block:after{
	content: "";
	position: absolute;
    top: calc(50% + 23px);
    left: 65px;
  	transform: translate(-50%,-50%);
}
.wheel-block:before{
	z-index: -20;	
	width: 5000px;
	height: 5000px;
	background-image: radial-gradient(#000 0%, #000 664px, #171717 664px, #171717 666px, #000 666px, #000 964px, #171717 964px, #171717 966px, #000 966px, #000 1344px, #171717 1344px, #171717 1346px, #000 1346px, #000 100%);
}
.wheel-block:after{
	z-index: -10;
	width: 3553px;
	height: 3553px;
	border-radius: 50%;
	border: 2px solid #171717;
}
.wheel-block{	
	grid-column: 1/2;
	grid-row: 3/4;
}
.wheel-box{
    position: absolute;
    top: 20px;
    left: -408px;
    z-index: 10;
	position: relative;
    width: 946px;
    height: 946px;
}
.wheel{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    z-index: 10;
    width: 100%;
    height: 100%;
	border-radius: 50%;
    border: 2px solid #d5d5d5;
}
.wheel-list{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
	width: 100%;
	width: 100%;
	height: 100%;
	font-family: var(--font2);
	font-size: 20px;
	font-weight: 700;
	list-style: none;
}
.wheel-label{
	position: absolute;
    top: 50%;
    right: 0px;
	z-index: 10;
	display: block;
	width: 100%;
	line-height: 13px;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
    transform: translateY(-50%) rotate(-44deg);
	transition: all 0.2s ease-in-out, transform 0.6s ease-in-out;
}
.wheel-label.active{
	color: var(--color1);
}
.wheel-label_text{
	position: absolute;
    top: -2px;
    right: -94px;
	display: inline-block;
	width: 71px;
    text-align: left;
}
.wheel-label_text::selection {
   background: transparent;
}
.wheel-label_text::-moz-selection {
   background: transparent;
}
.wheel-label:hover span{
	color: var(--color1);
}


.description-block{
	grid-column: 2/3;
	grid-row: 3/4;
	padding-top: 46px;
	padding-left: 258px;
	color: #ffd7f1;
}
.description-title{
	max-width: 370px;
	margin-bottom: 30px;
}
.description-container{}
.description-box{
	display: none;
	position: relative;
}
.description-box.active{
	display: block;
}
.description-year{
	position: relative;
	display: inline-block;
	margin-top: 36px;
	margin-bottom: 19px;
	margin-left: -0.04em;
	color: var(--color1);
	font-size: 240px;
	font-family: var(--font2);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.13em;	
	background: linear-gradient(-176deg, #c02ac6, #fa2caf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.description-year:before{
	content: "";
	position: absolute;
	left: -243px;
	bottom: 35px;
	z-index: 2;
	display: block;
	width: 0;
	height: 13px;
	background-image: linear-gradient(to right, #ffafe3, #fa2cb0);
	opacity: 0;
}
.description-box.active .description-year:before{
	animation: year 0.8s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes year{
	0%{
		width: 0px;
		opacity: 0;
	}
	50%{
		width: 217px;
		opacity: 0.2;		
	}
	100%{
		width: 217px;
		opacity: 1;
	}
}
.description-text{
	max-width: 370px;
	line-height: 1.875;
}


.main-block-2{
	grid-column: 1/3;
	grid-row: 4/5;
	margin-top: 30px;
}
.main-block-2 .center-main-block{}
.visible-m{
	display: none;
}


@media screen and (max-width: 1600px){
	h1{
		font-size: 28px;
		line-height: 1.285;		
	}
	h2{
		font-size: 24px;
		margin-bottom: 12px;
	}
	p{
		margin-bottom: 14px;
	}
	p:last-of-type{
		margin-bottom: 13px;
	}
	.main-grid{
		grid-template-columns: 340px 1fr;
		padding-top: 58px;
		padding-bottom: 105px;
		font-size: 14px;
		line-height: 1.4285;
	}
	.main-block{
		padding-left: 53px;
	}
	.center-main-block{
		max-width: 404px;
	}
	.head-block{
		padding-top: 35px;
	}
	.menu-box{
		right: 0;
		padding: 184px 10px 224px 17px;
	}
	.menu-list{
		margin-bottom: 87px;
	}	
	.wheel-block:before,
	.wheel-block:after{
	    top: calc(50% + 108px);
    	left: -140px;
	}
	.wheel-block:before{
		background-image: radial-gradient(#000 0%, #000 525px, #171717 525px, #171717 527px, #000 527px, #000 762px, #171717 762px, #171717 764px, #000 764px, #000 1060px, #171717 1060px, #171717 1062px, #000 1062px, #000 100%);
	}
	.wheel-block:after{
		width: 2808px;
		height: 2808px;
		border-radius: 50%;
		border: 2px solid #171717;
	}
	.wheel-box{
		top: 10%;
		left: -135%;
		width: 704px;
		height: 704px;
	}
	.wheel-list{
		font-size: 14px;
	}
	.description-block{
		padding-top: 80px;
		padding-left: 194px;
	}
	.description-title{
		max-width: 310px;
	}
	.description-year{
		margin-top: 10px;
		margin-bottom: 4px;
		font-size: 198px;
	}
	.description-year:before{
	    left: -184px;
	    bottom: 28px;
	}
	@keyframes year{
		0%{
			width: 0px;
			opacity: 0;
		}
		50%{
			width: 166px;
			opacity: 0.2;		
		}
		100%{
			width: 166px;
			opacity: 1;
		}
	}
	.description-text{
		font-size: 16px;
		letter-spacing: 0.2px;
	}
	.main-block-2{
		margin-top: 105px;
	}
}
@media screen and (max-width: 1100px){
	h1{
		font-size: 26px;
		line-height: 1.384;
	}
	.main-grid{
		grid-template-columns: 190px 1fr;
		padding-bottom: 81px;
	}
	.main-block{
		padding-left: 36px;
	}
	.center-main-block{
		max-width: 414px;
	}
	.logotype{
		margin-left: 93px;
	}
	.menu-button_open{
    	top: 0px;
		width: 23px;
		margin-right: 107px;
	}
	.menu-button_open .menu-button_line{
		margin-bottom: 6px;
	}
	.menu-box{
		width: 237px;
		padding: 252px 16px 356px;
	}
	.menu-list{
		margin-bottom: 102px;
	}
	.order{
		min-width: 144px;
		padding: 15px 10px;
	}	
	.wheel-block:before,
	.wheel-block:after{
    	left: -324px;
	}
	.wheel-block:before{
		background-image: radial-gradient(#000 0%, #000 640px, #171717 640px, #171717 642px, #000 642px, #000 885px, #171717 885px, #171717 887px, #000 887px, #000 1185px, #171717 1185px, #171717 1187px, #000 1187px, #000 100%);
	}
	.wheel-block:after{
		display: none;
	}
	.wheel-box{
		top: 13%;
    	left: -359%;
		width: 800px;
		height: 800px;
	}
	.description-block{
		padding-top: 170px;
    	padding-left: 75px;
	}
	.description-title{
		max-width: 300px;
	}
	.description-year{
		margin-top: 71px;
		margin-bottom: 13px;
		font-size: 120px;
	}
	.description-year:before{
	    left: -68px;
    	bottom: 19px;
	}
	@keyframes year{
		0%{
			width: 0px;
			opacity: 0;
		}
		50%{
			width: 60px;
			opacity: 0.2;		
		}
		100%{
			width: 60px;
			opacity: 1;
		}
	}
	.description-text{
		max-width: 300px;
		font-size: 12px;
		line-height: 1.83;
		letter-spacing: 0.2px;
	}
	.main-block-2{
		margin-top: 189px;
	}
}
@media screen and (max-width: 640px){
	h1{
		font-size: 20px;
		line-height: 1.25;
	}
	h2{
		font-size: 20px;
		line-height: 1.25;
	}
	.main-grid{
		grid-template-columns: 1fr;
		padding-top: 25px;
		padding-bottom: 0;
		font-size: 12px;
		line-height: 1.66;
		overflow: hidden;
	}
	.main-block{
		grid-column: 1/2;
		grid-row: 2/3;
		padding-left: 0;
	}
	.center-main-block{
		padding-left: 28px;
		padding-right: 30px;
	}
	.main-block-1{
		margin-top: 46px;
	}
	.head-block{
		grid-column: 1/2;
		grid-row: 1/2;
		padding-top: 0;
	}
	.logotype{
		margin-left: 30px;
	}
	.menu-block{
		margin-right: 30px;
	}
	.menu-button_open{
		margin-right: 0;
	}
	.menu-box{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 160px 16px 140px;
	}
	.menu-button_close{
		top: 20px;
	    right: 11px;
	    left: auto;
	    width: 29px;
	    height: 29px;
	}
	.menu-list{
		margin-bottom: 100px;
	}		
	.wheel-block:before,
	.wheel-block:after{
		top: 152px;
    	left: 50vw;
	}
	.wheel-block:before{
		background-image: radial-gradient(#000 0%, #000 370px, #171717 370px, #171717 372px, #000 372px, #000 100%);
	}
	.wheel-block:after{
		top: 350px;
		display: block;
		width: 784px;
		height: 784px;
	}
	.wheel-block{
		grid-column: 1/2;
		grid-row: 4/5;
		padding-bottom: 120px;
	}
	.wheel-box{
		position: absolute;
	    top: 44px;
	    left: 50%;
	    z-index: 100;
	    width: 616px;
	    height: 616px;
	    transform: translateX(-50%) rotate(270deg);
	}
	.wheel-list{
		font-size: 11.26px;
	}
	.wheel-label_text{
		right: -83px;
	}
	.description-block{
		grid-column: 1/2;
		grid-row: 3/4;
		padding-top: 0;
		padding-left: 13px;
		margin-top: 82px;
		margin-bottom: 76px;
	}
	.description-title{
		margin: auto;
	    max-width: 181px;
	}
	.description-year{
		display: block;
	    max-width: 181px;
		margin: 68px auto 4px;
		font-size: 56px;
	}
	.description-year:before{
		left: -46px;
    	bottom: 8px;
		height: 7px;
	}	
	@keyframes year{
		0%{
			width: 0px;
			opacity: 0;
		}
		50%{
			width: 35px;
			opacity: 0.2;		
		}
		100%{
			width: 35px;
			opacity: 1;
		}
	}
	.description-text{
		margin: auto;
	    max-width: 181px;
		font-size: 11px;
		line-height: 1.45;
	}
	.main-block-2{
		grid-column: 1/2;
		grid-row: 5/6;
		grid-row: 6/7;
		position: relative;
		margin-top: 50px;
		padding-bottom: 86px;
	}
	.main-block-2:before{
		content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 100;
	    width: 100%;
	    height: 100%;
	    background-image: linear-gradient(to bottom, transparent, black 50%);
	}
	.main-block-2 .center-main-block{
		position: relative;
		z-index: 100;
	}
	.visible-m{
		display: inline-block;
	}
}