*{
  margin: 0;
  padding: 0;
  outline: none;
}
@font-face {
  font-family: GothaProBla; /* Имя шрифта */
  src: url(fonts/GothamPro/GothaProBla.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: GothaProBol; /* Имя шрифта */
  src: url(fonts/GothamPro/GothaProBol.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: GothamProReg; /* Имя шрифта */
  src: url(fonts/GothamPro/GothaProReg.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: GothamProItalic; /* Имя шрифта */
  src: url(fonts/GothamPro/GothamProItalic.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: GothamProMed; /* Имя шрифта */
  src: url(fonts/GothamPro/GothaProMed.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: GothaProLig; /* Имя шрифта */
  src: url(fonts/GothamPro/GothaProLig.otf); /* Путь к файлу со шрифтом */
}
body{
  overflow-x: hidden;
  background: #f9f9f9;
  color: #3d3e43;
  font-family: 'GothamProReg', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
b,strong{
  font-family: 'GothamProMed', sans-serif;
}
a,a:hover,a:active,a:focus{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.center-main-block{
  max-width: 1230px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #fefefd;
  box-shadow: 0px 0px 6px 8px rgba(204,203,199,0.20);
  overflow-x: hidden;
}
.flex-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.clearfix{
  display: table;
  content: "";
  float: none;
  clear: both;
}
.black{
  color: #353535;
}
.white{
  color: #ffffff;
}
.dark-blue{
  color: #104772;
}
.blue{
  color: #0091ea;
}
.pink{
  color: #eb407b;
}
.red{
  color: #CC0000;
}
.orandge{
  color: #f4763b;
}
.bold{
  font-family: "GothaProBol", sans-serif;
}
.italy{
  font-style: italic;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 10px;
  color: #104772;
  font-family: 'GothaProBol', sans-serif;
  text-align: center;
}
h1{
  font-size: 60px;
  font-family: 'GothaProBla', sans-serif;
}
h2{
  font-size: 20px;
  margin-bottom: 15px;
}
h3{
  font-size: 18px;
  font-family: 'GothamProMed', sans-serif;
}
h4{
  font-size: 16px;
  font-family: 'GothaProBol', sans-serif;
}
ul,ul li{
  list-style: none;
}
p{
  margin-bottom: 10px;
  line-height: 1.4;
}
p:last-child{
  margin-bottom: 0;
}
.order{
  display: inline-block;
  padding: 9px 36px;
  background: #e13d76;
  color: #ffffff;
  font-family: 'GothaProBol', sans-serif;
  font-size: 16px;
  text-align: center;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
}
.order:hover{
  transform: scale(1.1);
  background: #20a1da;
}


section{}
.return{
  max-width: 1170px;
  margin-top: 80px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
  align-items: stretch;
  border: 1px solid #c5d7e5;
}
.return-left{
  width: 372px;
  border-right: 1px solid #c5d7e5;
  box-sizing: border-box;
}
.return-left div{
  padding: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #c5d7e5;
}
.return-left .black{
  font-family: 'GothaProBol', sans-serif;
}
.return-left .black sub{}
.return-left input[type=text]{
  background: #f9f9f9;
  width: 166px;
  padding: 10px;
  color: #a0adb7;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 24px;
  border: 1px solid #a0adb7;
}
.return-left .blue{
  margin-top: 16px;
  display: inline-block;
  width: 100%;
  font-size: 12px;
}
.return-left .last{
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return-left .last.error{
  padding-right: 10px;
}
.return-left .last a{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  min-width: 60px;
  text-align: center;
  color: #c5d7e5;
  font-family: 'GothaProLig', sans-serif;
  font-size: 48px;
  border-radius: 50%;
  border: 2px solid #c5d7e5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.return-left .last a:before{
  content: "i";
  display: inline-block;
  position: relative;
  top: -1px;
}
.return-left .last a:hover{
  background: #c5d7e5;
  color: #ffffff;
}
.return-left .last.error a{
  border-color: #eb407b;
  color: #eb407b;
}
.return-left .last.error a:before{
  content: "\f05e";
  font-family: 'FontAwesome';
}
.return-left .last.error a:hover{
  background: #eb407b;
  color: #ffffff;
}
.return-left .last.access a{
  border-color: #0091ea;
  color: #0091ea;
}
.return-left .last.access a:before{
  content: "\f00c";
  font-family: 'FontAwesome';
}
.return-left .last.access a:hover{
  background: #0091ea;
  color: #ffffff;
}
.return-left .last span{
  margin-left: 18px;
  color: #324a5c;
  font-family: 'GothaProBol', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}


.return-right{
  background: #f9f9f9;
  position: relative;
  padding-top: 14px;
  padding-bottom: 80px;
  width: calc(100% - 372px);
  font-size: 14px;
}
.return-right h4{
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 26px;
  background: #c5d7e5;
  color: #282426;
  font-family: 'GothaProBol', sans-serif;
  font-size: 18px;
  text-align: left;
}
.return-right header{
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #c5d7e5;
}
.return-right header span{
  font-family: 'GothaProBol', sans-serif;
}
.return-right .main-block{
  padding-left: 26px;
  padding-right: 26px;
  align-items: flex-start;
}
.return-right ol{
  margin-top: 70px;
  color: #11456e;
}
.return-right ol li{
  margin-top: 6px;
  margin-left: 16px;
}
.return-right ol~span{
  color: #bccedb;
  display: inline-block;
}
.return-list{
  margin-top: 30px;
  width: 50%;
  color: #6788a1;
}
.return-list p{
  margin-bottom: 5px;
}
.return-list span{
  color: #324a5c;
}
.return-right .order-container{
  position: absolute;
  width: calc(100% - 60px);
  bottom: 30px;
  text-align: center;
}
.return-right .order{
  display: inline-block;
}




@media screen and (max-width: 1024px){
  .flex-block{
    flex-direction: column;
  }
  .return-left{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c5d7e5;
  }
  .return-left div{
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #c5d7e5;
    border-bottom: none;
    justify-content: flex-start;
    text-align: center;
  }
  .return-left input[type=text]{
    margin-top: 8px;
  }
  .return-left .last{
    border-right: none;
    text-align: left;
  }
  .return-left .blue{
    margin-top: 6px;
  }
  .return-right{
    width: 100%;
  }
  .return-right .main-block{
    flex-direction: row;
  }
}
@media screen and (max-width: 980px){
  .return-left .last{
    flex-wrap: wrap;
    text-align: center;
  }
  .return-left .last span{
    margin-top: 6px;
    margin-left: 0;
  }
}
@media screen and (max-width: 700px){
  .return-left{
    flex-direction: column;
  }
  .return-left div{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #c5d7e5;
  }
  .return-left .last{
    text-align: left;
  }
  .return-left .last span{
    margin-left: 20px;
    max-width: 240px;
  }
  .return-right header div{
    margin-bottom: 4px;
  }
  .return-right header div:last-of-type{
    margin-bottom: 0;
  }
  .return-right .main-block{
    flex-direction: column;
  }
  .return-list{
    width: 100%;
  }
}
@media screen and (max-width: 420px){
  .return-left .last{
    flex-direction: column;
    text-align: center;
  }
  .return-left .last span{
    margin-left: 0;
  }
}