*{
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}
h2{
	text-align: center;
	font-family: "Lato";
	font-size: 2.8125em;
}
.center-main-block{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 3%;
	box-sizing: border-box;
}
.main-block-flex{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
input:active{
	outline:none;
}
input:focus{
	outline:none;
}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .8s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.8s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.8s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .8s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.8s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .8s ease;}
/* плавное изменение прозрачности  placeholder-а при фокусе */



#adaptivmenu{
	display: none;
}
.contacts-top1{
	background: #b4c408;
}
.contacts-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #b4c408;
	color: #ffffff;
	font-size: 1em;
}
.contacts-top>div>img{
	float: left;
	max-height: 22px;
	margin-right: 10px;
}
.icon img{
	max-height: 18px;
}
.icon a{
	display: inline-block;
	margin-right: 16px;
}
.icon a:last-child{
	margin-right: 0px;
}

header{
	clear: both;
	padding: 50px 3% 35px!important;
	overflow: hidden;
}
header .logo{
	float: left;
	margin-top: -10px;
}
header nav{
	float: right;
}
header ul{
	float: left;
	font-size: 1.05em;
	font-weight: bold;
	list-style: none; 
}
header li{
	float: left;
	margin-right: 22px;
}
header ul a{
	color: #464647;
	text-decoration: none;
	padding: 6px 14px;
	border-radius: 4px;
	transition: all 0.4s ease-in-out;
}
header ul a:hover{
	transition: all 0.4s ease-in-out;
	color: #ffffff;
	background: #df3f52;

}
header form{
	float: left;
}
header input[type="search"]{
	margin: -8px 0 0 15px;
	padding: 3px 10px;
	border: 2px solid #464647;
	border-radius: 8px;
	font-size: 1em;
}

.main-block-1{
	padding: 0 3%;
	clear: both;
 	background: #f0a93f;
 	background-image: url(img/big-cat.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	font-family: "Lato";
 	font-size: 5.625em;
 	font-weight: 100;
 	color: #ffffff;
}
.main-block-1>div{
	position: relative;
	padding: 120px 0;
}
.main-block-1 p:nth-child(odd){
	font-weight: bold;
}

.main-block-2{
	overflow: hidden;
	padding: 130px 0;
	color: #404142;
}
.main-block-2 article{
	float: left;
	width: 47%;
	margin-right: 3%;
}
.main-block-2 h2{
	margin-bottom: 50px;
	font-weight: normal;
	color: #5f5f5f;
}
.main-block-2 p{
	font-size: 0.9735em;
}
.main-block-2 a div{
	margin-top: 25px;
	padding: 15px;
	background: #b4c408;
	display: inline-block;
	border-radius: 5px;
	font-size: 0.9735em;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	transition: background 0.2s ease-in-out;
}
.main-block-2 a div:hover, .main-block-2 a div:active{
	transition: background 0.2s ease-in-out;
	background: #404142;
}
.main-block-2 img{
	display: block;
	background: #d625ab;
	width: 50%;
	height: 28vw;
	max-height: 325px;
}

.main-block-3{
	padding: 130px 0;
	background-image: url(img/back-cat.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
}
.main-block-3 h2{
	margin-bottom: 50px;
}
.main-block-3 article{
	width: 30%;
	display: flex;
    align-items: flex-start; /* for ie */
}
.main-block-3 img{
	display: inline-block;
	float: left;
	margin-right: 20px;
	max-width: 84px;
	max-height: 84px;
}
.main-block-3 p{
	font-size: 0.9375em;
}
.main-block-3 h3{
	margin: 20px 0 20px;
	font-family: "Lato";
	font-size: 1.5em;
}


.main-block-4{
	overflow: hidden;
	text-align: center;
	padding: 120px 0;
	clear: both;
}
.main-block-4 h2{
	font-weight: normal;
	color: #5f5f5f;
	margin-bottom: 50px;
}
.main-block-4>p{
	max-width: 800px;
	margin: 0 auto 120px;
	font-size: 0.9735em;
	color: #404142;
}
.main-block-4-content{
	overflow: hidden;
	background: black;
	border-radius: 5px;
	float: left;
	width: 22%;
	height: 30vw;
	max-width: 270px;
	max-height: 360px;
	color: #ffffff;
}
.main-block-4-content:nth-of-type(1){
	background: url(img/pet_1.png);
	background-size: cover;	
}

.main-block-4-content:nth-of-type(2){
	background: url(img/pet_2.png);
	background-size: cover;
}
.main-block-4-content:nth-of-type(3){
	background: url(img/pet_3.png);
	background-size: cover;
}
.main-block-4-content:nth-of-type(4){
	background: url(img/pet_4.png);
	background-size: cover;
}
.main-block-4-content>p{
	font-size: 1.875em;
	font-weight: bold;
	box-sizing: border-box;
	padding: 270px 0 52px;
	transition: padding 0.4s ease-in-out;
}
.main-block-4-content:hover p{
	transition: padding 0.4s ease-in-out;
	padding: 210px 0 25px;
}
.main-block-4-content a{
	display: inline-block;
	background: #b4c408;
	border-radius: 4px;
	padding: 15px 20px;
	font-size: 0.9735em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
.main-block-4-content a:hover{
	background: #ffffff;
	color: #000000;
}
.main-block-4-content a img{
	margin-left: 12px;
}
.main-block-4-content a:hover img{
	filter: brightness(0);
}


.main-block-5{
	background: #b4c408;
	background-image: url(img/green-cat.png);
	color: #ffffff;
	padding: 120px 0;
}
.main-block-5 h2{
	margin-bottom: 50px;
	font-weight: 400;
}
.main-block-5 article{
	width: 32%;
}
.main-block-5 p{
	background: #ffffff;
	color: #464647;
	padding: 25px 25px 60px;
	border-radius: 5px;
	font-size: 0.9735em;
	line-height: 1.6;
}
.main-block-5 figure{
	padding: 0 25px;
}
.main-block-5 img{
	display: inline-block;
	margin: -40px 0 20px;
	border-radius: 50%;
}
.main-block-5 h4{
	font-size: 1.0625em;
	margin-bottom: 12px;
}
.main-block-5 span{
	font-size: 0.8125em;
}


footer{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	padding-top: 60px!important;
	padding-bottom: 30px!important;
}
.footer-icon{
	width: 25%;
}
.footer-icon>a{
	display: block;
	margin-bottom: 20px;
}
.footer-subscribe{
	width: 35%;
}
.footer-contacts{
	width: 25%;
	color: #404142;
	font-size: 0.9375em;
}
.footer-privacy{
	width: 100%;
	text-align: center;
	color: #5f5f5f;
	font-size: 0.9375em;
	padding-top: 60px;
}
footer h3{
	color: #5f5f5f;
	font-size: 1.0625em;
	margin-bottom: 20px;
}
footer p{
	color: #404142;
	font-size: 0.9375em;
	margin-bottom: 15px;
}
footer input{
	border: 0;
	padding: 12px 16px;
	font-size: .9em;
}
footer input[type=e-mail]{
	background: #f5f5f5;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	min-width: 60%;
}
footer input[type=submit]{
	background: #df3f52;
	color: #ffffff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: -6px;
	text-transform: uppercase;
	font-weight: bold;
	transition: background 0.4s linear;
}
footer input[type=submit]:hover{
	transition: background 0.1s linear;
	background: #b4c408;
}
.footer-contacts div{
	position: relative;
	padding-left: 40px;
	line-height: 24px;
	margin-bottom: 15px;
}
.footer-contacts div:last-child{
	margin-bottom: 0;
}
.footer-contacts img{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 15px 0 0;
	width: 26px;
}
footer a{
	color: #5f5f5f;
}
footer a:hover{
	text-decoration: none;
}




@media screen and (max-width: 1160px){
	.main-block-4-content>p{
		padding: 80% 0 10%;
	}
	.main-block-4-content:hover p{
		padding: 80% 0 10%;
	}
}
@media screen and (max-width: 1030px){
	#menu-little{
		position: fixed;
		z-index: 100;
		width: 100%;
	}
	#adaptivmenu{
		display: block;
	}
	#adaptivmenu p{
		text-align: center;
		background: #b4c408;
		border-bottom: 2px solid #464647;
		opacity: 0.8;
	}
	#adaptivmenu img{
		padding: 5px;
		margin: 0 auto;
		display: block;
		height: 20px;
	}
	#adaptivmenu ul{
		max-height: 0;
		overflow: hidden;
		transition: all 2s linear;
		list-style: none;
	}
	#adaptivmenu ul.toggled-on {
		max-height: 400px;
		transition: all 2s ease-in-out;
	}
	#adaptivmenu li{
		background: #df3f52;
		border: 2px solid #464647;
		border-bottom: none;
		border-radius: 1px;
		max-width: 160px;
		margin: -1px auto 0;
		padding: 4px;
		text-align: center;
	}
	#adaptivmenu li:first-child{
		border-top: none;
	}
	#adaptivmenu li:last-child{
		border-bottom: 2px solid #464647;
	}
	#adaptivmenu a{
		color: #ffffff;
		text-decoration: none;
		padding: 6px 14px;
		border-radius: 4px;
		font-weight: bold;
	}
	#adaptivmenu input[type=search]{
		border-radius: 8px;
		padding: 2px 6px;
		box-sizing: border-box;
		width: 98%;
	}
	header,.contacts-top{
		display: none;
	}
	footer input[type=e-mail]{
		border-radius: 4px;
		width: 100%;
		margin-bottom: 10px;
	}
	footer input[type=submit]{
		border-radius: 4px;
		margin-left: 0;
		box-sizing: content-box;
		width: 100%;
	}
}
@media screen and (max-width: 1000px){
	.main-block-2 article{
		text-align: center;
		width: 100%;
	}
	.main-block-2 p{
		text-align: left;
	}
	.main-block-2 img{
		display: none;
	}
}
@media screen and (max-width: 830px){
	.main-block-1{
		font-size: 4em;
	}
	.main-block-1>div{
		padding: 10% 0!important;		
	}
	.main-block-4-content{
		font-size: 0.8em;
	}
	.main-block-4-content a{
		padding: 12px 16px;
	}
	.main-block-3 article{
		width: 100%;
	}
}
@media screen and (max-width: 768px){
	.main-block-4-content{
		width: 48%;
		height: 65vw;
		max-width: 540px;
		max-height: 720px;
		margin-bottom: 3vw;
	}
	.main-block-4-content>p{
		font-size: 2.4em;

	}
	.main-block-4-content a{
		font-size: 1.4em;
	}
	.main-block-5 article{
		width: 80%;
		margin: 0 auto 30px;
	}
	.main-block-5 img{
		margin: -40px 0 6px;
	}
	.main-block-5 h4{
		margin-bottom: 6px;
	}

	.footer-icon{
		order: 1;
		width: 50%;
	}
	.footer-subscribe{
		margin-top: 30px;
		order: 3;
		width: 100%;
	}
	footer input[type=e-mail]{
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		width: 60%;
		float: left;
	}
	footer input[type=submit]{
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		margin-left: -6px;
		width: calc(32% - 30px);
	}
	.footer-contacts{
		order: 2;
		width: 45%;
		color: #404142;
	}
	.footer-privacy{
		order: 4;
		width: 100%;
		padding-top: 60px;
	}
}
@media screen and (max-width: 425px){
	.main-block-1{
		font-size: 3.4em;
	}
	.footer-icon{
		order: 1;
		width: 100%;
		margin-bottom: 20px;
	}
	.footer-contacts{
		order: 2;
		width: 100%;
		color: #404142;
	}
}