@font-face {
    font-family: "ProximaNova-Regular"; /* Имя шрифта */
    src: url("fonts/ProximaNova-Regular.woff"); /* Путь к файлу со шрифтом */
}
*{
	font-family: "ProximaNova-Regular";
	font-size: 16px;
}
a, a:active, a:focus{
	text-decoration: none;
}
.center-main-block{
	max-width: 1200px;
	margin: 0 auto;
}

header{
	background: #121212;
	background: linear-gradient(to bottom, RGBA(0,0,0,0.5), RGBA(0,0,0,0));	
	width: 100%;
	position: fixed;
}
header>div{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 1.1em;
	padding: 0 0 8px;
	box-sizing: border-box;
}
header nav{
	display: flex;
	width: 40%;
}
header li{
	float: left;
	margin-right: 16px;
}
header a,header a:visited{
	display: inline-block;
	padding: 4px 0;
	color: #ffffff;
	text-decoration: none;
	border-top: 4px solid RGBA(0,0,0,0);
}
header a:hover,header a:focus{
	color: #54d154;
}
header a:focus{
	font-weight: bolder;
	text-decoration: none;
	border-color: #54d154;
}
#menu-none{
	width: 1px;
	height: 1px;
	opacity: 0;
}
header .logo{
	display: block;
	margin-top: 2px;
}
header form{
	width: 40%;
	position: relative;
	margin-top: 6px;
}
header input[type=search]{
	float: right;
	box-sizing: border-box;
	padding: 6px 12px;
	border: 0;
	border-radius: 14px;
	background: RGBA(255,255,255,0.7);
}
/* цвет placeholdera */
header ::-webkit-input-placeholder {color:#484848;}
header ::-moz-placeholder          {color:#484848;}/* Firefox 19+ */
header :-moz-placeholder           {color:#484848;}/* Firefox 18- */
header :-ms-input-placeholder      {color:#484848;}
/* цвет placeholdera */
/* прозрачность placeholdera */
input[type=search]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input[type=search]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input[type=search]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input[type=search]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input[type=search]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type=search]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input[type=search]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input[type=search]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
/* прозрачность placeholdera */
header input[type=image]{
	position: absolute;
	top: 4px;
	right: 10px;
	opacity: 0.8;
}

#main-block1{
	color: #ffffff;
	background: #aa8554 url(img/background-1.jpg);
	background-size: cover;
	padding: 150px 0 20px;
}
#main-block1 h1{
	margin: 150px auto 40px;
	font-family: "Montserrat";
	font-size: 3.4375em;
	font-weight: bold;
	text-align: center;
}
#subscribe{
	padding: 12px 20px;
	width: 164px;
	margin: 0 auto;
	background: #54d154;
	border-radius: 24px;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1.375em;
	text-align: center;
	cursor: pointer;
}
.butt-green:active{
	transition: all 0.1s ease-in-out;
	background: #173e17!important;
	box-shadow: inset 3px 3px 5px rgba(0,0,0,0.8);
}
#scroll-down{
	padding: 4px 6px;
	width: 110px;
	margin: 170px auto 0;
	background: RGBA(255,255,255,0.6);
	border-radius: 24px;
	display: block;
	color: #242424;
	text-align: center;
	cursor: pointer;
}
.butt-gray:active{
	transition: all 0.1s ease-in-out;
	background: #54d154;
	box-shadow: inset 3px 3px 5px rgba(0,0,0,0.8);
	color: #ffffff;
}
#scroll-down img{
	width: 9px;
	margin-left: 6px;
}


.flex-block{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
#main-block2{
	padding: 40px 0 70px;
	color: #828181;
	text-align: center;
}
.zag{
	color: #828181;
	text-align: center;
}
.zag h2{
	font-family: "Montserrat", sans-serif;
	font-size: 1.3125em;
	text-transform: uppercase;
	letter-spacing: 7px;
}
.zag hr{
	background: #828181; 
	width: 60px;
	margin: 10px auto;
	height: 1.8px;
	border: none;
}
.zag p{
	font-size: 1.06em;
	color: #b7b3b3;
}
#main-block2 .content{
	padding: 90px 0 0
}
#main-block2 article{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 28%;
}
#main-block2 .lorem{
	max-width: 100%; /* for ie */
}
#main-block2 .lorem img{}
#main-block2 .lorem h2{
	font-size: 1.5em;
	font-weight: bold;
	margin: 25px 0;
}
#main-block2 .lorem p{
	font-family: "Montserrat", sans-serif;
	font-size: 0.9375em;
	font-weight: lighter;
}
#main-block2 a{
	display: inline-block;
	margin-top: 25px;
	padding: 8px 18px;
	border-radius: 20px;
	background: #54d154;
	color: #ffffff;
	font-weight: bold;
}

#main-block3{
	background: #54d154;
	padding: 50px 0;
}
#main-block3 .zag h2, #main-block3 .zag p{
	color: #207b20;
}
#main-block3 .zag hr{
	background: #207b20;
}
.tabs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 60px;
}
.tabs>input{
	display: none;
}
.tabs>label{
	display: inline-block;
	padding: 6px 15px;
	background: #ffffff;
	color: #2b9b2b;
	border: 1px solid #2b9b2b;
	cursor: pointer;
}
.tab1{
	border-top-left-radius: 28px;
	border-bottom-left-radius: 28px;
}
.tab2{
	border-right: none!important;
	border-left: none!important;
}
.tab3{
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
}
.tabs>section{
	display: none;
	width: 100%;
}
#content-tab1,#content-tab2,#content-tab3{
	padding: 50px 0 25px;
}
.tabs .photo{
	display: block;
	background: red;
	width: 17%;
}
#tab1:checked~.tab1,#tab2:checked~.tab2,#tab3:checked~.tab3{
	background: #2b9b2b;
	color: #ffffff;
}
#tab1:checked~#content-tab1,#tab2:checked~#content-tab2,#tab3:checked~#content-tab3{
	display: block;
	animation-duration: 1s;
  	animation-name: checkopacity;
}
@keyframes checkopacity{
  from {opacity: 0;}
  to {opacity: 1;}
}

/* всплывающие изображения */
.tabs .img-big{}
.tabs .img-big input{
	display: none;
}
.tabs .img-big>div{
	display: none;
}
.tabs .img-big .screen-black{
	position: fixed;
	z-index: 4;
	background: RGBA(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tabs .img-big .screen-img{
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.tabs .img-small{
	width: 100%;
}
.tabs .img-small label{
	display: block;
	float: left;
	width: 18%;
	margin: 0 2.5% 30px 0;
}
.tabs .img-small label:nth-of-type(5n){
	margin-right: 0;
}
.tabs .img-small img{
	display: inline-block;
	width: 100%;
	border-radius: 6px;
}

#check1:checked~#image-b1,
#check2:checked~#image-b2,
#check3:checked~#image-b3,
#check4:checked~#image-b4,
#check5:checked~#image-b5,
#check6:checked~#image-b6,
#check7:checked~#image-b7,
#check8:checked~#image-b8,
#check9:checked~#image-b9,
#check10:checked~#image-b10{
	display: block;
}
#check11:checked~#image-b11,
#check12:checked~#image-b12,
#check13:checked~#image-b13,
#check14:checked~#image-b14,
#check15:checked~#image-b15,
#check16:checked~#image-b16,
#check17:checked~#image-b17,
#check18:checked~#image-b18,
#check19:checked~#image-b19,
#check20:checked~#image-b20{
	display: block;
}
#check21:checked~#image-b21,
#check22:checked~#image-b22,
#check23:checked~#image-b23,
#check24:checked~#image-b24,
#check25:checked~#image-b25,
#check26:checked~#image-b26,
#check27:checked~#image-b27,
#check28:checked~#image-b28,
#check29:checked~#image-b29,
#check30:checked~#image-b30{
	display: block;
}
/* всплывающие изображения */



#main-block4{
	padding-top: 60px;
}
.sl{
	margin: 60px auto;
	max-width: 720px;
	color: #444444;
}
.slick-list.draggable{
	/* slick-them.css */
	margin: 0 60px;
}
.sl_slide>p{
	text-align: center;
}
.sl_slide figure{
	max-width: 180px;
	margin: 20px auto;
}
.sl_slide figure img{
	float: left;
	width: 44px;
	margin: -5px 6px 0 0;
	border-radius: 50%;
	border: 2px solid #cccccc;
}
.sl_slide figure h3{
	font-weight: bold;
}
.sl_slide figure p{
	font-weight: bold;
	color: #cccccc;
	line-height: 24px;
}


#main-block5{
	padding: 40px 0 70px;
	background: #f2f1f1;
}
#main-block5 *{
	animation-fill-mode: forwards;
}
.clients-logo{
	max-width: 900px;
}
.clients-logo a{
	display: block;
	width: 18%;
	margin-right: 3%;
}
.clients-logo img{
	width: 100%;
}
.clients-list{
	text-align: center;
}
.clients-butt{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 8px 25px;
	background: #dddcdc;
	border-radius: 18px;
	color: #a59d9d;
	font-size: 1.125em;
	cursor: pointer;
	display: inline-block;
}
.clients-butt>img{
	margin-left: 16px;
}
#clients-butt{
	display: none;
}
#clients-butt-list{
	animation-duration: 0.4s;
  	animation-name: butt1;
}
#clients-butt:checked~#clients-butt-list{
	background: #54d154;
	box-shadow: inset 3px 3px 5px rgba(0,0,0,0.8);
	color: #ffffff;
	animation-duration: 0.2s;
  	animation-name: butt2;
}
@keyframes butt1{
	from{box-shadow: inset 3px 3px 5px rgba(0,0,0,0.8);}
	to{box-shadow: none;}
}
@keyframes butt2{
	from{box-shadow: none;}
	to{box-shadow: inset 3px 3px 5px rgba(0,0,0,0.8);}
}
##clients-butt-list img{
	animation-duration: 0.2s;
  	animation-name: img1;
}
#clients-butt:checked~#clients-butt-list img{
	animation-duration: 0.2s;
  	animation-name: img2;
}
@keyframes img1{
	from{filter: brightness(2);}
	to{filter: brightness(1);}
}
@keyframes img2{
	from{filter: brightness(1);}
	to{filter: brightness(2);}
}
#clients-hover a{
	display: inline-block;
	margin-top: 18px;
	color: #828181;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}
#clients-hover a:hover{
	color: #54d154;
}
#clients-hover{
	max-height: 0;
	overflow: hidden;
	animation-duration: 2s;
  	animation-name: clientsd;
}
#clients-butt:checked~#clients-hover{
	animation-duration: 4s;
  	animation-name: clientsh;
}
@keyframes clientsd{
  from {max-height: 800px;}
  to {max-height: 0;}
}	
@keyframes clientsh{
  from {max-height: 0;}
  to {max-height: 800px;}
}




#main-block6{
	padding: 70px 0 0;
	background: #54d154;
}
#main-block6 .zag h2, #main-block6 .zag p{
	color: #207b20;
}
#main-block6 .zag hr{
	background: #207b20;
}
#main-block6 article{
	width: 18%;
	margin-top: 60px;
}
#main-block6 article>img{
	border-radius: 50%;
	max-width: 140px;
	display: block;
	margin: 0 auto;
}
#main-block6 .line-ver{
	margin: 12px auto 9px;
	width: 2px;
	height: 70px;
	background: #207b20;
}
#main-block6 h3{
	color: #ffffff;
	font-size: 1.1em;
	text-align: center;
	margin-bottom: 15px;
	width: 100%;
}
#main-block6 figure{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.team-soc{
	padding: 4px 6px 2px;
	background: #c5e9c5;
	border-radius: 16px;
	display: inline-block;
}
.team-soc a:nth-of-type(2){
	margin: 0 8px;
}
.team-soc img{
	border-radius: 50%;
	max-width: 24px;
}
.team-butt{
	background: #3eba3e;
	margin-top: 70px;
	padding: 25px 0;
	display: flex;
	justify-content: center;
}
.team-butt a{
	display: inline-block;
	background: #54d154;
	border-radius: 24px;
	box-shadow: 1px 5px 5px #2e872e;
	text-transform: uppercase;
	padding: 12px 20px;
	font-size: 1.125em;
	font-weight: lighter;
	color: #ffffff;
}


#main-block7{
	background: #333333;
	padding: 25px 0 30px;
	color: #dddddd;
}
.about,.recent,.contact{
	width: 28%;
}
#contacts h2{
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}
#contacts hr{
	height: 1.8px;
	width: 42px;
	margin: 5px auto 20px;
	background: #dddddd;
	border: 0;
}
.about{
	text-align: center;
}
.about .team-soc{
	margin-top: 25px;
	background: #ffffff;
}
.recent{

}
.recent p{
	clear: both;
	padding-top: 6px;
}
.recent p img{
	border-radius: 4px;
	float: left;
	margin-right: 8px; 
}
.recent figure h3{
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	margin-top: 3px;
}
.recent figure a{
	display: inline-block;
	color: #ffffff;
	margin-top: 4px;
	padding: 1px 6px;
	border-radius: 2px;
	text-transform: uppercase;
}
.recent figure:nth-of-type(1) a{
	background: #54d154;
}
.recent figure:nth-of-type(2) a{
	background: #ffba00;
}
.recent figure:nth-of-type(3) a{
	background: #089dea;
}
.recent figure:nth-of-type(4) a{
	background: #f34d04;
}
.recent figure:nth-of-type(5) a{
	background: #ffba00;
}
.contact{}
.contact p{
	font-size: 0.875em;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 35px;
}
#main-block7 form{}
#main-block7 input, textarea{
	background: #444444;
	box-sizing: border-box;
	width: 100%;
	padding: 9px;
	border: none;
	margin-bottom: 2px;
	font-size: 0.875em;
	font-weight: lighter;
	color: #cccccc;
	overflow: hidden;
}
#main-block7 input[type="text"]{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#main-block7 input[type="email"]{}
#main-block7 textarea{
	height: 100px;
}
#main-block7 input[type="submit"]{
	margin-top: -4px;
	background: #2b9b2b;
	color: #ffffff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
/* цвет placeholdera */
footer ::-webkit-input-placeholder {color:#cccccc;}
footer ::-moz-placeholder          {color:#cccccc;}/* Firefox 19+ */
footer :-moz-placeholder           {color:#cccccc;}/* Firefox 18- */
footer :-ms-input-placeholder      {color:#cccccc;}
/* цвет placeholdera */
/* прозрачность placeholdera */
footer ::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
footer ::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
footer :-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
footer :-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
footer :focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
footer :focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
footer :focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
footer :focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
/* прозрачность placeholdera */


@media screen and (max-width: 1230px){
	.center-main-block{
		padding: 0 3%;
	}
	#main-block4{
		padding: 60px 30px 0;
	}
}
@media screen and (max-width: 1040px){
	#menu{
		display: none;
	}
	#menu-none{
		width: 40%;
	}
	#main-block1{
		padding: 80px 0 20px;
	}
	.about{
		width: 100%;
		margin-bottom: 30px;
	}
	.recent{
		width: 50%;
	}
	.contact{
		width: 50%;
	}
}
@media screen and (max-width: 768px){
	#main-block1{
		padding: 60px 0 20px;
	}
	#main-block1 h1{
		margin: 100px auto 40px;
		font-size: 2.4em;
	}
	#subscribe{
		font-size: 1.2em;
	}
	#scroll-down{
		margin: 120px auto 0;
	}
	#main-block2 .content{
		padding: 30px 0 0;
	}
	#main-block2 article{
		display: block;
		width: 94%;
		margin: 0 auto 25px;
	}
	#main-block2 .lorem img{
		float: left;
		margin-right: 5px;
	}
	#main-block2 .lorem h2{
		margin: 5px 0 15px;
	}
	#main-block2 a{
		margin-top: 20px;
	}
	#main-block6{
		padding: 70px 0 0;
	}
	#main-block6 .flex-block{
		flex-direction: column;
		align-items: center;
	}
	#main-block6 article{
		width: 50%;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#main-block6 article>img{
		margin: 0 0;
	}
	#main-block6 .line-ver{
		display: none;
	}
	#main-block6 h3{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 650px){
	header input[type="search"]{
		max-width: 60%;
		font-size: 80%;
		margin-bottom: 8px;
	}
	header input[type="image"]{
		display: none;
	}
}
@media screen and (max-width: 600px){
	#main-block6 article{
		width: 60%;
	}
	.recent{
		width: 100%;
		margin-bottom: 30px;
	}
	.contact{
		width: 100%;
	}
}
@media screen and (max-width: 500px){
	#main-block6 article{
		width: 80%;
	}
}
@media screen and (max-width: 360px){
	#main-block6 article{
		width: 90%;
	}
}