@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700|Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');

:root{
	--color1: #1b3f99;
	--font1: "Open Sans", sans-serif;
	--font2: "Comfortaa", "Open Sans", sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	border: none;
	outline: none;
}
html{}
body{
	position: relative;
	color: #333333;;
	font-family: var(--font1);
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
  	margin-top: 0;
  	margin-bottom: 20px;
  	color: #000000;
	font-family: var(--font2);
  	font-weight: 700;
	line-height: 1.4;
	text-align: center;
}
h1{
	font-size: 46px;
}
h2{	
	margin-bottom: 14px;
	font-size: 30px;
}
img{
	max-width: 100%;
	border-style: none;
}
p{
	margin-bottom: 16px;
}
p:last-of-type{
	margin-bottom: 0;
}
a{
	color: var(--color1);
	text-decoration: none;
	cursor: pointer;
  	transition: all 0.2s ease-in-out;
}
a:hover{
	color: var(--color1);
	text-decoration: none;
}
a:focus,
a:visited{
	color: var(--color1);
	text-decoration: none;
}
input{
	color: inherit;
	font-family: inherit;
	font-size: 16px;
	transition: all 0.2s ease-in-out;
}
input:focus{
	outline: none;
}


.main-container{
	position: relative;
}
.center-main-block{
	max-width: 1530px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
}


.header_block{
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 100;
	width: 100%;
}
.header_block .center-main-block{
	display: flex;
	align-items: center;
	max-width: 1720px;
}
.header_block-white{
	color: #ffffff;
}

.logotype{
	margin-right: 75px;
	font-family: var(--font2);
	font-size: 20px;
}
.logotype_link{
	display: flex;
	align-items: center;
	color: inherit;
}
.logotype_link:hover,
.logotype_link:focus,
.logotype_link:visited{
	color: inherit;
}
.logotype img{
	display: block;
	width: 40px;
	margin-right: 10px;
	transform: rotate(0);
	transition: all 0.8s ease-in-out;
}
.logotype_link:hover img{
	/*animation: logo 0.8s ease-in-out;*/
	transform: rotate(360deg);
}
@keyframes logo{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
.logotype_text{
	color: inherit;
}

.header_navigation{
	display: flex;
	align-items: center;
}
.header_navigation_link{
	position: relative;
	display: inline-block;
	padding: 10px 0;
	margin: 0 20px;
	color: inherit;
}
.header_navigation_link:hover{
	color: inherit;
}
.header_navigation_link:focus,
.header_navigation_link:visited{
	color: inherit;
}
.header_navigation_link:before{
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	z-index: 10;
	display: block;
	width: 0;
	height: 2px;
	background-color: var(--color1);
	transition: all 0.2s ease-in-out;
}
.header_navigation_link:hover:before{
	width: 100%;
}
.header_block-white .header_navigation_link:before{
	background-color: #ffffff;
}


.main_block{}
.main_block-white{
	color: #ffffff;
	background-color: #343434;
}


.slider_container{
	height: 100vh;
}
.slider_box{
	display: flex;
	height: 100%;
	overflow: hidden;
}
.slide{
	position: relative;
	height: 100%;
	padding: 150px 0;
	transition: margin-left 0.8s ease-in-out;
}
.slide.active{
	display: block;
}
.slide .center-main-block{
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	height: 100%;
}
.slider_content{
	width: 40%;
	min-width: 40%;
	font-family: var(--font2);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.slider_title{
	margin-bottom: 10px;
	color: inherit;
	text-align: left;
}
.slider_butt{
	position: absolute;
    bottom: 22%;
    right: 0;
    z-index: 20;
    display: block;
	color: inherit;
	font-family: var(--font1);
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba(255,255,255,0.6);
}
.slider_butt:hover{
	color: inherit;
}
.slider_butt:focus,
.slider_butt:visited{
	color: inherit;
}
.slider_butt:before{
	content: "\f178";
	display: inline-block;
	margin-right: 20px;
	color: inherit;
	font-family: "FontAwesome";
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
}
.slider_butt:after{
	content: "";
    position: absolute;
    left: -540px;
    bottom: 50%;
    display: block;
    height: 1px;
    width: 0;
    opacity: 0;
    background-image: linear-gradient(to right, transparent, #ffffff);
    animation: slider-line 1s ease-in-out;
    animation-fill-mode: forwards;
}
.slider_butt-video:before{	
	content: "\f0da";
}
@keyframes slider-line{
	0%{width: 0px; opacity: 0;}
	100%{width: 500px; opacity: 1;}
}
.slider_butt:hover:before{	
	transform: scale(1.2) translateX(4px);
}

.slider_image{
	position: relative;
	z-index: 40;
	display: flex;
	align-items: flex-end;
	height: 100%;
}
.slider_image img{
	display: block;
	width: 390px;
	max-width: 100%;
	height: 514px;
}

.slider_backgrounds{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(2, 47, 174);
}
.slide:nth-of-type(1) .slider_backgrounds{
	background-color: rgb(2, 47, 174);
}
.slide:nth-of-type(2) .slider_backgrounds{
	background-color: rgb(50, 115, 186);
}
.slide:nth-of-type(3) .slider_backgrounds{
	background-color: rgb(222, 13, 76);
}
.slide:nth-of-type(4) .slider_backgrounds{
	background-color: rgb(16, 88, 31);
}
.slide:nth-of-type(5) .slider_backgrounds{
	background-color: rgb(208, 15, 39);
}
.slider_background{
	position: absolute;
	z-index: 10;
	height: 0;
	background-size: 100%;
	background-position: top left;
	background-repeat: no-repeat;
}
.slider_background:nth-of-type(1){
	top: calc(50vh - 52%);
	right: calc(50vw - 48%);
	width: 49%;
	padding-bottom: 42%;
	background-image: url(../img/back_top_right.png);
}
.slider_background:nth-of-type(2){
	top: calc(50vh - 28%);
	left: calc(50vw - 42%);
	width: 35.9%;
	padding-bottom: 19%;
	background-image: url(../img/back_top_left.png);
}
.slider_background:nth-of-type(3){
	left: calc(50vw - 57%);
	bottom: calc(50vh - 50%);
	width: 50.6%;
	padding-bottom: 22%;
	background-image: url(../img/back_bottom_left.png);
}
.slider_backgrounds-video:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
.slider_background-video{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slider_nav{
	position: absolute;
    left: calc(50vw - 860px + 50px);
    bottom: 120px;
    z-index: 100;
    display: flex;
    align-items: center;
    list-style: none;
}
.slider_nav_butt{
	position: relative;
	display: block;
	width: 8px;
    height: 8px;
    padding: 3px;
    margin-right: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
	cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.slider_nav_butt.active{
	background-color: #ffffff;
	box-shadow: 0 0 8px 5px rgba(255,255,255,0.4);
}
.slider_nav_butt:hover{
	background-color: #ffffff;
	box-shadow: 0 0 8px 5px rgba(255,255,255,0.4);	
}
.slider_nav_butt.active:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 16px;
	width: 0;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #ffffff);
	animation: slider_nav 5s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes slider_nav{
	0%{width: 0;}
	100%{width: 84px;}
}

.slide_parts{
	display: none;
}
.slide_part{}
.slide_part-left{}
.slide_part-right{}