.tickets_popup_container,
.tickets_popup_container *{
    margin: 0;
    padding: 0;
    font-family: inherit;
    word-break: break-word;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}
.tickets_popup_container{
	position: fixed;
	top: -200%;
	left: 0;
	z-index: 999999;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
	padding: 0 10px;
	opacity: 0;
	overflow-y: auto;
	transition: top 0.6s linear, opacity 1s ease-in-out;
}
.tickets_popup_container.active{
	top: 0;
	opacity: 1;
	animation: showTopOpacity 0.8s linear;
	animation-fill-mode: forwards;
}
@keyframes showTopOpacity{
	0%{top: -200%; opacity: 0;}
	70%{top: 0%; opacity: 0.7;}
	100%{top: 0%; opacity: 1;}
}
.tickets_popup_background{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	cursor: pointer;
}
.tickets_popup_content{
	position: relative;
	z-index: 40;
	width: 100%;
	max-width: 480px;
	max-height: 100%;
	padding: 40px;
	background-color: #faf9f5;
	border-radius: 3px;
}
.tickets_popup_close{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 4;
	width: 14px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.tickets_popup_close:hover{
	transform: scale(1.1);
}
.tickets_popup_close svg{
	display: block;
	width: 100%;
	height: auto;
}
.tickets_form{}
.tickets_form_box{}
.tickets_form_item{
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 14px;
}
.tickets_form_item:last-of-type{
	margin-bottom: 0;
}
.tickets_form_item-double{
	display: flex;
	justify-content: space-between;
}
.tickets_form_item_label{
	display: block;
	margin-bottom: 3px;
}
.tickets_form_item_label_star{
	color: #e85c41;
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: 5px;
}
.tickets_form_item input,
.tickets_select_tit{
	display: block;
	width: 100%;
	height: auto;
    line-height: 20px;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%) inset;
    background: #fff;
    border: 0;
    color: #666666;
    border: 1px solid #ABB0B2;
    border-radius: 3px;
    padding: 8px 0;
    text-indent: 2%;
}
.tickets_form_item input.invalid{
	border-color: #e85c41;
}
.tickets_form_item_error{
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #e85c41;
}
.tickets_form_item input.invalid + .tickets_form_item_error{
	display: block;
	animation: showOpacity 0.6s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes showOpacity{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.tickets_form_item_selector{
	flex-grow: 100;
}
.tickets_select{
	position: relative;
}
.tickets_select_tit{
	display: block;
	cursor: pointer;
}
.tickets_select_list{
	position: absolute;
	left: 0;
	bottom: -10px;
	z-index: 10;
	width: 100%;
	height: 0;
	background-color: #ffffff;
	opacity: 0;
	overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
	transform: translateY(100%);
}
.tickets_select_list.active{
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 1;
	animation: showOpacity 0.2s ease-in-out;
	animation-fill-mode: forwards;
}
.tickets_select_list_item{
	padding: 8px 12px;
	background-color: #ffffff;
    color: #666666;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.tickets_select_list_item:hover{
	background-color: #c1c1c1;
	color: #fff;
}
.tickets_hidden{
	display: none!important;
}
.tickets_form_item_button{
	padding-bottom: 0;
}
.tickets_button{
	display: block;
	width: 100%;
    background-color: #aaa;
    background-image: linear-gradient(to bottom, #aaa 0%,#aaa 100%);	
    border: 0 none;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 22px;
    text-align: center;
    text-decoration: none;
    cursor: initial;
}
.tickets_button:not(:disabled){
    background-image: linear-gradient(to bottom, #eaef6c 0%,#f2df5e 100%);	
    color: #461412;
    cursor: pointer;
}
.tickets_button:not(:disabled):hover{
	transform: scale(1.06);
}


@media screen and (max-height: 768px){
	.tickets_popup_content{
		overflow-y: auto;		
	}
}